@import '../../../styles';

section.parallax-header-content{ 
 	background-image: url(../../../assets/images/slider-2.jpg);
}


form{
	label{
		font-weight: 500;
	}

	.form-control{
		font-size: 14px;
	}
}

iframe{
	background: #eee;
}