<div class="loader site-loader"></div>
<app-navigation></app-navigation>
<section class="parallax-header-content container-fluid">
	<div class="container">
		<div class="title-n-breadcrumb">
			<h1>Accommodation</h1>
		</div>
	</div>
</section>
<section class="mid-content container-fluid">
	<div class="container">


		<div class="row room-list anim-up">
			
			<div class="col-md-5 room-img">
				<img src="../../assets/images/deluxe-room.jpg" alt="">
			</div>
			<div class="col-md-7">
				<h2>Deluxe Room</h2>
				<p>Unparalleled comfort arises at Deluxe Room, overlooking the mountain view that encapsulates a harmonious balance between spectacular design and beautiful interiors. Ideal for an intimate break or family fun, the Deluxe Room offers stunning views of the mountains and the ultimate in pampering with spacious, airy rooms and bathrooms with relaxing rainfall showers.</p>

				<p>Deluxe Rooms are ideal for guests who desire a spacious and comfortable retreat to unwind and relax. These rooms offer fantastic views as well as the perfect laid-back environment for a pleasantly quiet stay.</p>

				<h4>Room Facilities</h4>
				<ul>
					<li><i class="icon-wifi"></i> Wifi</li>
					<li><i class="icon-tv"></i> TV</li>
					<li><i class="icon-water-heater"></i> Hot Water</li>
					<li><i class="icon-ac"></i> Air Condition</li>
					<li><i class="icon-phone-call"></i> Telephone</li>
					<li><i class="icon-shower"></i> Bathroom</li>
					<li><i class="icon-bathrobe"></i> Bathrobes</li>
					<li><i class="icon-closet"></i> Cupboard</li>
				</ul>
			</div>
		 
		</div>


		<div class="row room-list anim-up">
			
			<div class="col-md-5 room-img">
				<img src="../../assets/images/exe-room.jpg" alt="">
			</div>
			<div class="col-md-7">
				<h2>Executive Room</h2>
				<p>The Executive Room overlook the gorgeous hills and adjacent exotic tea estates in front of the hotel. They feature enhanced technology with interconnecting facilities for families. Guests will be able to enjoy the sun on the misty hills and beautifully manicured gardens. Executive Room in Kings hotel offer a glorious escape to absolute tranquillity. Equipped with every in-room amenity imaginable, these rooms are a tasteful blend of luxury and intimacy.</p>

				<h4>Room Facilities</h4>
				<ul>
					<li><i class="icon-wifi"></i> Wifi</li>
					<li><i class="icon-tv"></i> TV</li>
					<li><i class="icon-water-heater"></i> Hot Water</li>
					<li><i class="icon-ac"></i> Air Condition</li>
					<li><i class="icon-phone-call"></i> Telephone</li>
					<li><i class="icon-shower"></i> Bathroom</li>
					<li><i class="icon-bathrobe"></i> Bathrobes</li>
					<li><i class="icon-closet"></i> Cupboard</li>
				</ul>
			</div>
		 
		</div>

		<h6>All our rooms contain beds with <strong>100% natural premium grade Mr. President Mattress</strong>es. </h6>
		<h6>High quality sleep and comfort guranteed. </h6>
	</div>
</section>

<app-footer></app-footer> 
