@import '../../../styles';


.navbar-collapse{

	@include breakpointMax($x-small-desktop - 1){
		position: absolute;
	    background: #ffebcd;
	    width: 100%;
	    left: 0;
	    top: 100px;
	}
}

.navbar-toggler{
	border: 2px solid;
	color: $base-color;
	margin-right: 10px;
}



.contact-details{
	color: $white;
	overflow: hidden;
	width: 100%; 
	padding: 7px 0; 
	font-size: 12px;
	background: $dark-brown-color;

	ul.contact-list{
		margin-bottom: 0;
		padding-left: 0;
		float: left;

		li{
			display: inline-block;
			margin-right: 15px; 
			letter-spacing: 0.02rem;

			i{
				margin-right: 5px;
				color: $base-color;
			}

			a{
				color: $white;
			}
		}
	}

	ul.social-icons{
		float: right;
		margin-bottom: 0;
		padding-left: 0;

		li{
			list-style: none;
			display: inline-block;
			margin-right: 10px;

			a{
				color: $base-color;
			}
		}

	}

}

nav.navbar{
	position: relative;
	width: 100%;
	z-index: 1001;
	padding: 2px;
	background-color: #fffaf5;
	border-top: 4px $base-color solid; 

	a{
		color: $dark-color; 
	}

	.container{
		flex-wrap: wrap; 

		a.navbar-brand{
			img{
				width: 130px;
			}
		}

		ul.navbar-nav{ 

			li{
				 
			    
				a{
					font-size: $base-font-size + 2;
					font-weight: 600;	
					padding: 0px 15px;
					border-right: 1px $base-color solid;
					letter-spacing: 0;

					&:hover{
						color: $base-color;
					}

					@include breakpointMax($x-small-desktop - 1){
						padding: 10px 15px;
						border-right: 0;
						border-top: 1px $base-color solid;

						&:hover{
							background: $base-color;
							color: $dark-color;
						}
					}

					&.book-now{
						background: $base-color;
					    padding: 8px 15px;
					    border-radius: 4px;
					    @include transition(all .3s ease);
					    text-decoration: none;

					    &:hover{
							color: $dark-color; 
							background: darken($base-color, 15%);

					    }
					}

					&.br0{
						border-right: 0;
					}

				} 
				 
				&:last-child{ 

					a{
						border-right: 0;
					}
				}
			}
		}
	} 
}