<div class="contact-details">
	<div class="container">
		<ul class="contact-list">
			<li><i class="fa fa-phone" aria-hidden="true"></i> {{tel}}</li>
			<li><i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:{{email}}">{{email}}</a></li>
		</ul>

		<ul class="social-icons">
			<li>
				<a href="#">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			</li>
			
			<li>
				<a href="#">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div> 
</div>
<nav class="navbar navbar-expand-lg"> 
	<div class="container"> 
		<a class="navbar-brand" routerLink="/">
			<img src="../../assets/images/logo.png" alt="">
		</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span> 
	  	</button>
		

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="ml-auto">  
				<ul class="navbar-nav">
			      	<li class="nav-item active">
			        	<a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" routerLink="/accommodation">Accommodation</a>
			      	</li>
			      	<li class="nav-item disabled">
			        	<a class="nav-link"  routerLink="/gallery">Gallery</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" routerLink="/about-us">About Us</a>
			      	</li>  
			      	<li class="nav-item">
			        	<a class="nav-link br0" routerLink="/contact-us">Contact Us</a>
			      </li>

			      <li>
					<a class="book-now" href="">Book Now</a>
			      </li>
			    </ul> 
			</div>
		    
		</div>
	</div> 
</nav>