@import '../../../styles';

nav.navbar{
	position: absolute;
	width: 100%;
	z-index: 1001;
	background: rgba(0, 0, 0, 0.57);

	a{
		color: $white;
	}

	.container{
		flex-wrap: wrap;

		.contact-details{
			color: $white;
			overflow: hidden;
			width: 100%;
			border-bottom: 1px rgba(255, 255, 255, 0.12) solid;
			padding-bottom: 5px;
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;

			ul.contact-list{
				margin-bottom: 0;
				padding-left: 0;
				float: left;

				li{
					display: inline-block;
					margin-right: 15px;
					color: #d4d4d4;

					i{
						margin-right: 5px;
					}
				}
			}

			ul.social-icons{
				float: right;
				margin-bottom: 0;
				padding-left: 0;

				li{
					list-style: none;
					display: inline-block;
					margin-right: 10px;

					a{
						color: #d4d4d4;
					}
				}

			}

		}

		ul.navbar-nav{ 

			li{
				a{
					font-size: $base-font-size + 2;
					font-weight: 600;	

				}
			}
		}
	} 
}