@import '../../../styles';


.navbar-collapse{

	@include breakpointMax($x-small-desktop - 1){
		position: absolute;
	    background: #ffebcd;
	    width: 100%;
	    left: 0;
	    top: 100px;
	}
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-toggler{
	border: 2px solid;
	color: $base-color;
	margin-right: 10px;
}



.contact-details{
	color: $white;
	overflow: hidden;
	width: 100%; 
	padding: 7px 0; 
	font-size: 12px;
	background: $dark-brown-color;

	ul.contact-list{
		margin-bottom: 0;
		padding-left: 0;
		float: left;

		li{
			display: inline-block;
			margin-right: 15px; 
			letter-spacing: 0.02rem;

			i{
				margin-right: 5px;
				color: $base-color;
			}

			a{
				color: $white;
			}
		}
	}

	ul.social-icons{
		float: right;
		margin-bottom: 0;
		padding-left: 0;

		li{
			list-style: none;
			display: inline-block;
			margin-right: 10px;

			a{
				color: $base-color;
			}
		}

	}

}

nav.navbar{
	position: relative;
	width: 100%;
	z-index: 1001;
	padding: 2px;
	background-color: #fffaf5;
	border-top: 4px $base-color solid; 

	a{
		color: $dark-color; 
	}

	.container{
		flex-wrap: wrap; 

		a.navbar-brand{
			img{
				width: 130px;
			}
		}

		ul.navbar-nav{ 

			li{
				 
			    
				a{
					font-size: $base-font-size + 1;
					font-weight: 600;	
					padding: 0px 15px;
					border-right: 1px $base-color solid;
					letter-spacing: 0;
					font-weight: 700;

					&:hover{
						color: $base-color;
					}

					@include breakpointMax($x-small-desktop - 1){
						padding: 10px 15px;
						border-right: 0;
						border-top: 1px $base-color solid;

						&:hover{
							background: $base-color;
							color: $dark-color;
						}
					}

					&.book-now{
						background: $base-color;
					    padding: 8px 15px;
					    border-radius: 4px;
					    @include transition(all .3s ease);
					    text-decoration: none;
					    cursor: pointer;

					    &:hover{
							color: $dark-color; 
							background: darken($base-color, 15%);

					    }
					}

					&.br0{
						border-right: 0;
					}

				} 
				 
				&:last-child{ 

					a{
						border-right: 0;
					}
				}
			}
		}
	} 
}

.booking-screen{
	overflow-y: scroll; 
	
	.modal-header{
		padding: 8px 20px;
		border-bottom: 1px $base-color solid;
	}

	h2{ 
		font-size: 27px;  
	}

	form{
		padding: 0 10px;
		font-size: 13px;

		label{
			margin-bottom: 0;
		}

		input, textarea{
			font-size: 13px; 
		}

		button.submit-button{
			margin-top: 0;
			padding: 8px 25px;
			background: $base-color;
			color: $white; 

			&:hover{
				background: darken($base-color, 15%);
			}
		}
	}
}