<div class="loader site-loader"></div>
<app-navigation></app-navigation>
<section class="parallax-header-content container-fluid">
	<div class="container">
		<div class="title-n-breadcrumb">
			<h1>About Us</h1>
		</div>
	</div>
</section>
<section class="mid-content container-fluid">
	<div class="container">
		 <div class="row">
		 	<div class="col-md-6">
		 		<p>Offering perfect, high quality and comfortable accommodation in a purpose built hotel, Kings Hotel is a boutique type property set in the heart of Nuwaraeliya the beautiful, misty hill city and 'The Little England' in Sri Lanka.</p>

		 		<p>Perfect for both business and pleasure visits to this vibrant city to enjoy a fabulous vacation. Kings Hotel is within easy reach of many of the most important sceneries and attractions are minutes away.</p>
		 	</div>
		 	<div class="col-md-6">
		 		
		 	</div>
		 </div>
	</div>
</section>

<app-footer></app-footer> 