@charset 'UTF-8'; 

@import 'variables';
@import 'function';
@import 'mixins';
@import 'fonts';
@import 'animate';



h1, h2, h3{ 
	font-family: 'Alice', serif;
    text-transform: uppercase;
	font-weight: 700;
}


body, p{ 
	font-family: 'Open Sans', sans-serif;
	color: $dark-brown-color;
	font-size: $base-font-size;	
	line-height: $base-font-size + 7;
	letter-spacing: 0.02em;
}


.read-more{
	margin-top: 20px;
	display: inline-block;
	padding: 12px 38px;
    font-size: 16px;
    line-height: 24px;
    color: $base-color;
    background-color: transparent;
    border: 1px $base-color solid; 
    @include transition(0.5s all ease);
	

	&:hover{
		background-color: $base-color;
		color: $white;
		text-decoration: none;
	}

}

.submit-button{
	margin-top: 20px;
	display: inline-block;
	padding: 12px 38px;
    font-size: 16px;
    line-height: 24px;
    color: $base-color;
    background-color: transparent;
    border: 1px $base-color solid; 
    @include transition(0.5s all ease);
    margin-bottom: 20px;
	

	&:hover{
		background-color: $base-color;
		color: $white;
		text-decoration: none;
	}

}


.site-loader{
	position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 1003;
}

.mid-content{
	padding: 80px 0;
}


.parallax-header-content{
	height: 260px;
	background: #eee; 
	background-size: cover;
	background-position: 50%;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.05);
		left: 0;
		top: 0;
	}

	.container{
		@include flex();
		align-items: flex-end;
		height: 100%;

		h1{
			margin-bottom: 50px;
			color: $white;
			z-index: 100;
			position: relative;
		}
	}
}


.container{

	@include breakpointMax($tablet-medium - 1){
		max-width: 100%;	
	}

}
 